<!DOCTYPE html>
<html>

<head>

    <title>Foodfy</title>
    <script src="/scripts/seed.js" defer></script>

</head>

<body>

    <main>
        <button onclick="console.debug(oi)">init</button>
    </main>

    
</body>

</html>